body {
	margin: 0;
	padding: 0;
	font-size: 15px;

}

.navbar {
	background-color: #333;
	overflow: hidden;
	position: fixed;
	top:0;
	width:100%;
	display: inline-block;

}

.menu{
	float:left;
	display:inline-block;
	width:27%;
	margin-left: 10px;

}

.menu li{
	padding-left: 10px
}
.menu a:hover{
	background-color: #444;
}

.menu ul{
	display: inline-block;
	margin: 0;
	padding: 0;
} 

.menu ul li {
	display: inline-block;
	list-style-type: none;
}

.menu > ul > li > a {
	color: #aaa;
	background-color: #333;
	display: block;
	line-height: 2.9em;
	padding: 0.5em,0.5em;
	text-decoration: none;
}

.search{
	display: inline-block;
	line-height: 3em;
	width:45%;	
}

.search input{
	border-bottom-left-radius: 9px;
	border-top-left-radius: 9px;
	padding-left:10px;
	width:85%;
	min-width: 4%;
	border-style: none;
	height: 1.75em;
}

.search button{
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
	border-style: none;
	height:1.75em;
	position:fixed;
	top:.79em;
}

.buttons{
	display: inline-block;
	float: right;
}

.buttons a{
	display: inline-block;
	line-height: 3em;
	margin-right: 10px;
}

#cog{
	vertical-align: middle;
	padding-bottom: 3px;
}

#not{
	vertical-align: middle;
	padding-bottom: 2px;
}

.section-left, .section-right{
	width: 16%;
	position:fixed;
	padding-bottom:100%;
	background-color: grey;
	margin-top: 3em;
}

.section-left{
	left:0;
	display: inline-block;
	
}

.section-right{
	right:0;
	display: inline-block;
}

.timeline{
	display: inline-block;
	position: relative;
	margin-left: 16%; 
	top:3.1em;
	width:68%;
}

.container{
}

.lostfound textarea, .lostfound input{
	resize: none;
	margin:2%;
	width:90%;
	border-radius: 5px;
	border-style: none;
	padding: 5px;	
}

.inputfields{
	text-align: center;
}

.lostfound-select{
	margin-top: 2%;
	text-align: center;
}

#lost-button, #found-button{
	width:70px;
	height:3em;
	display: inline-block;
	border-style: none;
}

#lost-button{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;	
}

#found-button{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

#lost-found-submit, #lost-found-reset{
	width:42%;
	display: inline-block;
}

#previewPhoto{
	width:auto;
}

#prevPic{
	width:100px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}