body,
html {
	/*Set height through javascript or something getting screen height?*/
	min-height: 666px;
	height: 100vh;
	width: 100%;
	min-width: 1000px;
	margin: 0;
	/*REMOVE IF CAUSES ISSUES*/
	overflow: scroll;
}

.navbar {
	background-color: #333;
	position: absolute;
	top: 0;
	width: 100%;
	height: 3.1em;
	min-width: 1000px;
	display: inline-block;
	z-index: 1;
	box-sizing: content-box;
}

.menu {
	float: left;
	display: inline-block;
	width: 27%;
	margin-left: 10px;
}

.menu li {
	padding-left: 10px
}

.menu a:hover {
	background-color: #444;
}

.menu ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.menu ul li {
	display: inline-block;
	list-style-type: none;
}

.menu>ul>li>a {
	color: #aaa;
	background-color: #333;
	display: block;
	line-height: 2.9em;
	padding: 0.5em, 0.5em;
	text-decoration: none;
}

.search {
	display: inline-block;
	line-height: 3em;
	width: 45%;
}

.search input {
	border-bottom-left-radius: 9px;
	border-top-left-radius: 9px;
	padding-left: 10px;
	width: 85%;
	min-width: 4%;
	border-style: none;
	height: 1.75em;
}

.search button {
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
	border-style: none;
	height: 1.75em;
	position: absolute;
	top: .95em;
}

.buttons {
	display: inline-block;
	float: right;
}

.buttons a {
	display: inline-block;
	line-height: 3em;
	margin-right: 10px;
}

#cog,
#log {
	vertical-align: middle;
	padding-bottom: 3px;
}

#not {
	vertical-align: middle;
	padding-bottom: 2px;
}

#not-center {
	position: absolute;
	height: 300px;
	width: 300px;
	top: 3.1em;
	right: 0;
	display: none;
	z-index: 100;
	background: #ffffff;
	border: 2px solid #dddddd;
}

#not-center #note {
	display: block;
	height: 50px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border-bottom: 1px solid #777777;
	font-family: Tahoma;
	text-decoration: none;
	font-size: 0.9em;
	color: #000000;
}

#not-center #note:hover {
	background-color: #dddddd;
}

.sidebars {
	height: calc(100% - 50px);
	width: 16%;
	min-width: 160px;
	position: absolute;
	background-color: #aaaaaa;
	top: 3em;
	box-sizing: content-box;
}

#section-left {
	left: 0;
	display: inline-block;
	border-right: 2px solid #cccccc;
}

#section-right {
	right: 0;
	display: inline-block;
	border-left: 2px solid #cccccc;
}

.timeline {
	display: inline-block;
	position: absolute;
	margin-left: 16%;
	top: 3.1em;
	width: 68%;
	min-width: 680px;
}

.container {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100%;
	min-width: 1000px;
}


/*Left sidebar CSS*/

.sidebars div {
	position: static;
	display: inline-block;
	margin-top: 10px;
	width: 100%;
}

.userLists {
	background-color: #cccccc;
}

.userLists ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.userLists h5 {
	display: block;
	margin: auto;
	border-bottom: 1px solid #ffffff;
}

.userLists a {
	position: relative;
	display: block;
	max-width: 90%;
	min-width: 90%;
	margin-left: 10%;
	font-family: Tahoma;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: bold;
	color: #000000;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.userLists li {
	border-bottom: 1px solid #ffffff;
}

.userLists li:hover {
	background-color: #ffffff;
}

.userLists li:last-of-type {
	border-bottom: none;
}

#userPic img {
	position: relative;
	display: block;
	margin: auto;
	width: 80%;
	border-style: outset;
	border-width: 2px;
	border-color: #aaaaaa #7f1734 #7f1734 #aaaaaa;
}


/*Suggested Friends. Could be moved?*/

#suggFriend {
	position: relative;
	background: #cccccc;
	display: inline-block;
	height: 180px;
	width: 100%;
	margin: 0;
	overflow: hidden;
}

#suggList {
	margin: 0;
	display: block;
}

#suggList img {
	height: 50px;
	width: auto;
	display: block;
	margin: auto;
	border: 2px outset;
	border-color: #aaaaaa #7f1734 #7f1734 #aaaaaa;
}

#suggName {
	height: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	text-decoration: none;
	margin-top: 0;
	margin-bottom: 10px;
	font-family: Tahoma;
	color: #000000;
}

#suggButt {
	height: 30px;
	margin: 0;
	width: 100%;
	bottom: 0;
}

#suggButt button {
	height: 100%;
	width: 49%;
	border: none;
	background-color: #eeeeee;
	border-right: 1px solid #000000;
}

#suggButt button:last-of-type {
	border-right: none;
}

#suggButt button:hover {
	cursor: pointer;
	background-color: #dddddd;
}

.popup {
	background-color: #efefef;
	border: solid 1px #cccccc;
	position: fixed;
	display: none;
	z-index: 100;
}

.popField {
	position: relative;
	width: 300px;
	/*width: 198px;*/
	border-radius: 4px;
	top: 60px;
}

.popField:hover {
	background-color: #f1f1f1;
}

.popup button {
	background-color: #fcfcfc;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	width: 150px;
	padding: 5px;
	margin-top: 5px;
}

#groupPop {
	top: calc(50% - 100px);
	left: calc(50% - 200px);
	margin: auto;
	height: 200px;
	width: 400px;
	text-align: center;
}

@media all and (max-width: 1000px) {
	#groupPop {
		left: 300px;
	}
}

#groupPop * {
	display: block;
	margin: auto;
}

#groupPop #gButton {
	position: relative;
	margin-top: 10px;
	bottom: -50px;
}

#coursePop {
	top: calc(50% - 100px);
	left: calc(50% - 200px);
	margin: auto;
	height: 240px;
	width: 400px;
	text-align: center;
}

@media all and (max-width: 1000px) {
	#coursePop {
		left: 300px;
	}
}

#coursePop * {
	position: static;
	display: inline-block;
	margin: auto;
}

#coursePop #cButton {
	position: relative;
	margin-top: 10px;
}


/*Styling for search results*/

#searchRes {
	position: relative;
	background: white;
	border: 2px solid black;
	width: 95%;
	margin: auto;
	text-align: center;
	overflow-y: scroll;
	overflow-x: hidden;
}

#searchRes h3 {}

#searchRes .searchItem {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

#searchRes .searchItem:hover {
	background-color: #7f1734;
}

.searchItem a {
	position: relative;
	display: block;
	max-width: 100%;
	min-width: 100%;
	margin-left: 0;
	font-family: Tahoma;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: bold;
	color: #000000;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


/*Styling for friend box*/

.menuPan {
	position: relative;
	height: 500px;
	width: 400px;
	background: white;
	margin: auto;
	text-align: center;
	overflow: scroll;
	border: 2px solid black;
}

#friendPan img {
	width: 20px;
	height: 20px;
}

#friendPan :not(h3):not(h5):hover {
	background-color: #7f1734;
}

.menuPan#groupPan :not(h3):not(h5):hover {
	background-color: #7f1734;
}


/*End*/