body,
html {
	/*Set height through javascript or something getting screen height?*/
	min-height: 666px;
	height: 100%;
	width: 100%;
	min-width: 1000px;
	margin: 0;
	/*REMOVE IF CAUSES ISSUES*/
	display: flex;
	flex-direction: column;
}

#wrapper {
	min-height: 100%;
	position: relative;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	/*REMOVE IF CAUSES ISSUES*/
	display: flex;
	flex-direction: column;
}

#sideBar {
	position: absolute;
	min-height: 666px;
	height: 100%;
	width: 200px;
	top: 0;
	left: 0;
	background: #eeeeee;
	border: 2px solid #cccccc;
}

#leftPanel {
	position: absolute;
	height: 100%;
	width: 60%;
	min-width: 600px;
	top: 0;
	left: 0;
}

#rightPanel {
	position: relative;
	top: 0;
	left: 60%;
	height: 100%;
	max-height: 100%;
	width: 40%;
	max-width: 40%;
	min-width: 400px;
	float: right;
	padding: 0;
	margin: 0;
	/*REMOVE IF CAUSES ISSUES*/
	display: flex;
	flex-direction: column;
	overflow: hidden;
}


/*Start of login panel css*/

#loginPanel {
	position: absolute;
	top: 15%;
	right: 4%;
	/*right: 10px;*/
	width: 200px;
	height: 400px;
	/*background: #7f1734; /*claret */
	background: #eeeeee;
	border: 2px solid #cccccc;
	/*box-shadow: inset 0 0 2px 2px #400c1a; /*dark claret */
	/*box-shadow: inset 0 0 2px 2px #7f1734; /*claret */
	border-radius: 50% / 5%;
	/*border-radius: 20px;*/
	z-index: 2;
}

#loginFields img {
	width: 150px;
	left: 25px;
	margin-top: 10px;
	border-radius: 10px;
}

#loginFields {
	position: absolute;
	top: 20%;
	left: 12%;
}

.logButton {
	float: left;
	background-color: #fcfcfc;
	/*light gray*/
	/*background-color: #7f1734; /*claret*/
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	width: 75px;
	padding: 5px;
	margin-top: 5px;
}

.logField {
	width: 150px;
	height: 30px;
	border-radius: 4px;
	margin-top: 5px;
}

.logField:hover {
	background-color: #f1f1f1;
}

#guestIn {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 25px;
	text-decoration: none;
	color: #7f1734;
}

#guestIn:hover {
	text-decoration: underline;
}

#forPass {
	width: 150px;
}

#regFields {
	position: absolute;
	display: none;
	top: 15%;
	left: 12%;
}

#regFields img {
	width: 100px;
	height: 100px;
	border-radius: 10px;
}

.regText {
	display: inline-block;
	/*float: left; is another option*/
	width: 100px;
}

.regField {
	position: static;
	width: 300px;
	/*width: 198px;*/
	border-radius: 4px;
	margin-top: 5px;
}

.regField:hover {
	background-color: #f1f1f1;
}

.regName {
	position: static;
	width: 148px;
	border-radius: 4px;
	margin-top: 5px;
}

.regName:hover {
	background-color: #f1f1f1;
}

.regButton {
	position: relative;
	left: 25%;
	background-color: #fcfcfc;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	width: 150px;
	padding: 5px;
	margin-top: 5px;
}

.spacerDiv {
	min-height: 10px;
	height: 10px;
}

#regFields [type=radio] {
	margin-top: 5px;
}

#profilePic {
	display: inline-block;
	/*float: left; is another option*/
	width: 198px;
	/*Change these to move all elements below. Change top in input to match*/
	height: 1px;
	min-height: 1px;
}

#profilePic input {
	position: relative;
	top: -4800%;
	width: 198px;
}

#tosText {
	position: relative;
	display: inline-block;
	/*float: left; is another option*/
	font-size: 10px;
	left: 5%;
}

#textAlert {
	position: relative;
	display: none;
	width: 95%;
	height: 5%;
	margin: auto;
	top: 10%;
	color: red;
	text-decoration: underline;
	text-align: center;
}


/*End of login panel css (unless want to include the obscure?*/

.popup {
	background-color: #efefef;
	border: solid 1px #cccccc;
	position: absolute;
	display: none;
	z-index: 100;
}

#fpPop {
	top: 25%;
	right: -12%;
	margin: auto;
	height: 200px;
	width: 400px;
	text-align: center;
}

#fpPop * {
	display: block;
	margin: auto;
}

.popField {
	position: relative;
	width: 300px;
	/*width: 198px;*/
	border-radius: 4px;
	top: 60px;
}

.popField:hover {
	background-color: #f1f1f1;
}

#fpPop #fpButton {
	position: relative;
	margin-top: 10px;
	top: 50px;
}

.popup button {
	background-color: #fcfcfc;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	width: 150px;
	padding: 5px;
	margin-top: 5px;
}

#tosPop {
	top: 15%;
	right: -12%;
	height: 500px;
	width: 400px;
}

#tosPop * {
	display: block;
	margin: auto;
}

#tosPop #body {
	position: relative;
	width: 90%;
	height: 80%;
	top: 5%;
	margin: auto;
	overflow: scroll;
	background-color: white;
	color: black;
}

#tosPop #tosButton {
	position: relative;
	margin-top: 10px;
}


/*Maybe just use wrapper and change it's background to this. But how to animate?*/

#obscure {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}