#postBox {
	width: 96%;
	
	display: inline-block;
	
	height:30px;
	margin-top: 1px;
	margin-right: 3px;
	margin-left: 3px;
	
	background-color: #eeeeee;
	padding: 2%;
	
	border: 2px solid #cccccc;
	
}

#postBox #text {
	width: 85%;
	height: 30px;
	
	   
	resize: none;
    outline: none;
	
	

}

#postBox #button {
	position: relative;
	top: -15px;
	width: 10%;
	height: 30px;
	padding:0;
}

