.postTemp {
	position: static;
	margin: 10px;
	background: #eeeeee;
	/*Maybe not, must consider what else could be done*/
	width: 80%;
	min-width: 80%;
	border-radius: 5px;
	border: 2px solid #cccccc;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.postTemp span {
	position: relative;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin: 4px 10px 4px 10px;
}

.postInfo {
	position: relative;
	height: 50px;
	width: 95%;
	margin: 5px;
	display: inline-block;
}

.postPic {
	position: absolute;
	width: 50px;
	height: inherit;
	display: inline-block;
	top: 0;
	left: 0;
	border-radius: 5px;
	overflow: hidden;
	border-style: outset;
	border-width: 2px;
	border-color: #aaaaaa #7f1734 #7f1734 #aaaaaa;
}

.postName {
	position: absolute;
	left: 60px;
	margin: 2px;
	width: 80%;
	display: inline-block;
}

.postPic img {
	width: 50px;
}

.postName a {
	position: relative;
	font-family: Arial Black;
	color: #7f1734;
	text-decoration: none;
}

.postName a:hover {
	cursor: pointer;
	color: #9c2542;
}

.postName span {
	margin: 10px;
	font-size: 10px;
}

.postCont,
.commCont {
	position: relative;
	margin: auto;
	width: 90%;
	word-wrap: break-word;
}

.postCont img,
.commCont img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	min-width: 100%;
	border-style: solid;
	border-width: 1px;
}


/* Comment CSS */

.postComm {
	position: static;
	margin: 10px 20px 20px 20px;
	border-radius: 5px;
	background: #e1e1e1;
	/*Maybe not, must consider what else could be done*/
	width: 95%;
	min-width: 95%;
	border-radius: 5px;
	border: 2px solid #cccccc;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.commBox {
	width: 94%;
	display: inline-block;
	height: 30px;
	margin-top: 1px;
	margin-right: 3px;
	margin-left: 3px;
	padding: 2%;
	overflow: hidden;
}

.commTemp {
	border-bottom: 1px solid #999999;
}

.commBox .commText {
	width: 85%;
	height: 30px;
	resize: none;
	outline: none;
}

.commTemp {
	border-style: ridge;
}

.commInfo {
	position: relative;
	height: 30px;
	width: 95%;
	margin: 5px;
	display: inline-block;
}

.commPic img {
	width: 30px;
}

.commPic {
	position: absolute;
	width: 30px;
	height: inherit;
	display: inline-block;
	top: 0;
	left: 0;
	border-radius: 5px;
	overflow: hidden;
	border-style: outset;
	border-width: 2px;
	border-color: #aaaaaa #7f1734 #7f1734 #aaaaaa;
}

.commBox .commSubmit {
	position: relative;
	top: -15px;
	width: 10%;
	height: 30px;
	padding: 0;
}

.commName {
	position: absolute;
	left: 42px;
	margin: 2px;
	width: 70%;
	display: inline-block;
	font-size: 15px;
}

.commName a {
	position: relative;
	font-family: Arial Black;
	color: #7f1734;
	text-decoration: none;
}

.commName a:hover {
	cursor: pointer;
	color: #9c2542;
}

.commName span {
	margin: 10px;
	font-size: 8px;
}

.commCont {
	position: relative;
	margin: auto;
	margin-left: 30px;
	width: 90%;
}

.postOpt,
.commOpt {
	position: relative;
	box-sizing: content-box;
	display: inline-block;
	top: 0;
	float: right;
}

.postOpt button,
.commOpt button {
	height: 20px;
	width: 50px;
	font-size: 0.5em;
}