#canvas {
	position: relative;
	width: 95%;
	top: 0;
	display: block;
	margin: auto;
}

#canvasContainer {
	width: 95%;
	display: black;
	margin: auto;
	background-color: #111111;
	border: 2px solid #555555;
	color: #ffffff;
}

.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%;
	background-color: #0099dd;
}

#resumeProgress {
	position: relative;
	width: 99%;
	display: block;
	left: 0px;
	margin-top: 1em;
}

#canvasContainer div {
	margin: auto;
	display: table;
}

#canvasContainer div .pdfButton {
	height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
}

#uploadResume button {
	display: block;
	margin: auto;
	border-radius: 20px;
	margin-bottom: 20px;
}